---

---

<div class="align-middle">
    <img src="../assets/img/logo.avif" alt="" />

    <nav class="bg-black text-xl flex gap-5">
        <a class="hover:text-purple-400 text-white" href="/">Accueil</a>
        <p class="text-white">/</p>
        <a class="hover:text-purple-400 text-white" href="offres">Offres</a>
    </nav>
</div>
