---

---

<div class="flex items-center">
    <a href="/"><img class="size-14" src="../assets/img/logo.avif" alt="" /></a>

    <nav class="bg-black text-xl flex gap-5">
        <a class="hover:text-purple-400 text-white" href="/">Accueil</a>
        <p class="text-white">/</p>
        <a class="hover:text-purple-400 text-white" href="offres">Offres</a>
    </nav>
</div>
