---

---

<div class="flex items-center justify-center">
    <a href="/"
        ><img class="size-14" src="../../assets/img/IconLogo.svg" alt="" /></a
    >

    <nav class="text-xl flex gap-5">
        <a class="hover:text-purple-400" href="/">Accueil</a>
        <p class="">/</p>
        <a class="hover:text-purple-400" href="/offres/">Offres</a>
    </nav>
</div>
