---
import { getOffre } from '../../backend.mjs';
import { ... } from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.nomMaison}>
    <h2>{offre.nomMaison}</offre>
    <ul>
        <li>{offre.adresse}</li>
        ...
    </ul>
</Base>